body {
  background-color: #BBC6C8;
}

a {
  text-decoration: none;
  outline: none;
  color: black;
}

a:focus {
  border: none;
  outline: 0;
}

a:hover {
  color: #fdfdfd;
}
.header {
  background-color: #5BA199;
  display: flex;
  justify-content: center;
}

.header-text {
  font-family: 'Lobster', cursive;
  font-size: 28px;
  font-weight: 600;
}
.title-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
}

.sign-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.sign-in {
  margin-right: 20px;
}
.icon {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.icon>img {
  width: 10%;
}

.button-block {
  display: flex;
  flex-direction: column;
  width: 85%;
    padding: 16px 0;
}

.button-block>*,
.modal-body>* {
  margin-bottom: 16px;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.wrapMain>.container {
  border-radius: 24px;
  background: #e0e0e0;
  box-shadow: 13px 13px 26px #c3c3c3,
    -13px -13px 26px #fdfdfd;
}

.wrapMain>.container>.row {
  margin-bottom: 20px;
}

.buttonBox {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 5px;
  /* display: inline-block; */
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 5px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.buttonBox:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}

.buttonBox:active {
  position: relative;
  top: 1px;
}
.no-auth-text {
  text-align: center;
  margin-bottom: 0;
  color: brown;
  font-weight: 500;
}